<div class='row'>
<div class='col-sm-12'>
  <div class='box form-tabela'>
    <div class='box-header red-background'>
      <div class='title'>
        <div class='icon-edit'></div>
        Nova tabela
      </div>
      <div class='actions'>
        <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
        </a>
      </div>
    </div>
    <div class='box-content'>
      <form class="form validate-form formulario-tabela" 
            id="formTabela" 
            style="margin-bottom: 0;"
            method="post"
            action="#" 
            accept-charset="UTF-8">
          
          <input type="hidden" id="id" />
          
          <div class='form-group'>
            <label for='nome'>Nome</label>
            <input class='form-control' 
                   id='nome'
                   name='nome'
                   data-rule-required='true'
                   data-msg-required="Nome obrigatório."
                   placeholder='Nome' 
                   type='text'>

          </div>
          
          <div class='form-group'>
            <label for='descricao'>Descrição</label>
            <textarea class='form-control' 
                      id='descricao' 
                      name='descricao' 
                      placeholder='Descrição' 
                      rows='3'></textarea>
          </div>
          
          <div class='form-group'>
            <label>Banco de dados</label>
            <label class='checkbox-inline'>
                <input id="ckAndroid" 
                       name="ckAndroid" 
                       type='checkbox' 
                       value='on'>
                Android
              </label>
            <label class='checkbox-inline'>
                <input id='ckWeb' 
                       name='ckWeb' 
                       type='checkbox' 
                       value='on'>
                Web
            </label>
          </div>
          
      </form>
      <div class='form-group tabela-list-atributos'>
          
      </div>
      <div class='form-actions form-actions-padding-sm form-actions-padding-md form-actions-padding-lg' style='margin-bottom: 0;'>
          <div id="adicionar-tabela" class='btn btn-primary btn-lg' >
          <i class='icon-save'></i>
          Save
        </div>
      </div>
      

    </div>
  </div>
</div>
</div>