<div id='headerView' class='login-container-header header'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='text-center'>
          <img width="121" height="31" src="assets/images/logo_lg.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class='login-container'>
  <div class='container'>
      <div class='row'>
        <div class='col-sm-4 col-sm-offset-4'>
          <h1 class='text-center title'>Biblioteca Nuvem</h1>
          <form action='index.html' class='validate-form' method='get' 
                id="loginForm" 
                name="formularioLogin">
            <div class='form-group'>
              <div class='controls with-icon-over-input'>
                <input value="" 
                       placeholder="E-mail" 
                       class="form-control" 
                       data-rule-required="true"
                       name="email" 
                       id="email"
                       type="email" />
                <i class='icon-user text-muted'></i>
              </div>
            </div>
            <div class='form-group'>
              <div class='controls with-icon-over-input'>
                <input value="" 
                       placeholder="Senha" 
                       class="form-control" 
                       data-rule-required="true" 
                       name="senha" 
                       id="senha"
                       type="password" />
                <i class='icon-lock text-muted'></i>
              </div>
            </div>
            <div class='checkbox'>
              <label for='remember_me'>
                <input id='remember_me' name='remember_me' type='checkbox' value='1'>
                Continuar conectado
              </label>
            </div>
            <a id="login-btn" class='btn btn-block loginBt' data-bypass href="#" >Acessar</a>
          </form>
          <div class='text-center'>
            <hr class='hr-normal'>
            <a href='forgot_password.html'>Relembrar senha?</a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class='login-container-footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='text-center'>
          <a id="signup-btn" href='javascript:void(0);'>
            <i class='icon-user'></i>
            Clique aqui para cadastrar.
            <strong>CADASTRE-SE</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

