<td class="nome-atributo" ><%= nome %></td>

<td class="tipo-ficticio-atributo" ></td>

<td>
  <div class='text-right'>
    <a class='btn btn-warning btn-xs edit-atributo' href='#'>
      <i class='icon-edit'></i>
    </a>
    <a class='btn btn-danger btn-xs delete-atributo' href='#'>
      <i class='icon-remove'></i>
    </a>
  </div>
</td>
