
.databaseComparatorApp {

    padding: 20px;

}

.tr-darker {

    background-color: #E7E7E7;

}

.tr-lighter {

    background-color: #FFFFFF;

}

.omega-loading {

    display: block;
    width: 50%;
    top: 40%;
    left: 20%;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 10px;

}

.btn-grey {

    background-color: #488FCB;
    border-color: #2e6da4;
    color: #FFFFFF;

}

.data-generation-modal-window > .modal-dialog {

    width: 90%;

}

.data-generation-modal-window > .modal-dialog > .modal-content > .modal-body {

    overflow-y: scroll;

}

.comparison-modal-window > .modal-dialog {

    width: 90%;

}

.comparison-modal-window > .modal-dialog > .modal-content > .modal-body {

    overflow-y: scroll;

}

.comparison-log-panel {

    padding: 5px;
    max-height: 200px;
    overflow-y: scroll;

}

.spacer-bottom-20 {

    margin-bottom: 20px;

}

.spacer-top-20 {

    margin-top: 20px;

}

.spacer-right-5 {

    margin-right: 5px;

}

.spacer-bottom-5 {

    margin-bottom: 5px;

}

.small-input {

    width: 40px;

}

h3.custom {

    margin-top: 10px;
    margin-bottom: 20px;

}

.destaque {

    text-decoration: underline;
    margin-top: 5px;

}

p.destaque {

    text-decoration: underline;
    margin-top: 25px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;

}

p.destaque:first-child {

    margin-top: 5px;

}

.data-generation-log-panel {

    padding: 5px;

}

.alert-danger {

    margin-right: 15px;
    margin-left: 15px;

}

.mobile-generation-parameters input {

    width: 150px;

}